.packages{
    &__container{
        padding-top: 100px;
    }
    &__title{
        font-size: 25px;
        text-align: center;
        padding-bottom: 30px;
    }
    &__cards{
        display: flex;
        justify-content: space-around;
        transition: 0.5s;
    }
}