.steps{
    &__container{
        padding-top: 80px;
        padding-bottom: 30px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        &-640{
            width: 640px;
        }
    }
    &__step{
        display: grid;
        grid-template-columns: 190px 380px;
        gap: 35px;
        align-items: center;
        margin-bottom: 35px;
    }
    &__descr{
        font-size: 25px;
        font-weight: 100;
        line-height: 25px;
    }
}